<extend name="Index:base" />
<block name="title"><title>{$title}</title></block>

<link rel="stylesheet" href="__PUBLIC__/kindeditor/themes/default/default.css" />

<block name="content">
    <div class="container">
        <empty name="tips">
            <form class="form-horizontal" role="form" action="{:U('Xssxyby/Tips/add')}" method="post">
                <input type="hidden" id="id" name="id" >
                <div class="form-group">
                    <label for="content" class="col-sm-2 control-label">提示内容:</label>
                    <div class="col-sm-5">
                        <textarea class="form-control" id="content" name="content" placeholder="提示内容">
                        </textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-2">
                    <button type="submit" class="btn btn-default">提交</button>
                    </div>
                </div>
            </form>
        <else />
            <form class="form-horizontal" role="form" action="{:U('Xssxyby/Tips/update')}" method="post">
                <input type="hidden" id="id" name="id" value="{$tips['id']}" >
                <div class="form-group">
                    <label for="content" class="col-sm-2 control-label">提示内容:</label>
                    <div class="col-sm-5">
                        <textarea class="form-control" id="content" name="content" placeholder="提示内容">
                        </textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-2">
                        <button type="submit" class="btn btn-default">提交</button>
                    </div>
                </div>
            </form>
        </empty>
    </div>
    </div>
</block>

<block name="script">
    <script charset="utf-8" src="__PUBLIC__/kindeditor/kindeditor-min.js"></script>
    <script charset="utf-8" src="__PUBLIC__/kindeditor/lang/zh_CN.js"></script>
    <script>
        $(function(){
            var editor;
            KindEditor.ready(function(K) {
                editor = K.create('textarea[name="content"]', {
                    allowFileManager : true,
                    autoHeightMode : true,
                    afterCreate : function() {
                        this.loadPlugin('autoheight');
                    },
                    afterUpload : function(url) {
                        var firstimageoption = '<option value="' + url + '">' + url + '</option>';
                        var selectoption = '<option value="' + url + '" selected="selected">' + url + '</option>';
                        $("#firstimage").append(firstimageoption);
                        $("#images").append(selectoption);
                    }
                });
            });
        })
    </script>
</block>