<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
            <ul class="nav navbar-nav">
                <li><a href="{:U('Xssxyby/Index/index')}">首页</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">分类管理<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{:U('Xssxyby/Topic/index')}">展示</a></li>
                        <li><a href="{:U('Xssxyby/Topic/input')}">增加</a></li>
                        <li><a href="{:U('Xssxyby/Topic/index')}">删除</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">软件管理<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{:U('Xssxyby/Soft/index')}">展示</a></li>
                        <li><a href="{:U('Xssxyby/Soft/input')}">增加</a></li>
                        <li><a href="{:U('Xssxyby/Soft/index')}">删除</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">小贴士管理<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{:U('Xssxyby/Tips/index')}">展示</a></li>
                        <li><a href="{:U('Xssxyby/Tips/input')}">增加</a></li>
                        <li><a href="{:U('Xssxyby/Tips/index')}">删除</a></li>
                    </ul>
                </li>

                <li class="col-sm-2 clearfix">
                    <div class="navbar-form">
                        <form id="search" action="{:U('Xssxyby/Soft/search')}" method="post">
                            <div class="input-group">
                                <input name="name" class="form-control" type="text" placeholder="软件搜索" style="width: 100px">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" onclick="document.getElementById('search').submit();">Go!</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </li>
                <!--<li><a href="{:U('Xssxyby/Util/index')}">导入csv文件</a></li>
                <li><a href="{:U('Xssxyby/Util/getAndInsertTopic')}">导入topic文件</a></li>
                <li><a href="{:U('Xssxyby/Util/getAndInsertSoft')}">导入soft文件</a></li>-->
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" role="button" href="#"><i class="glyphicon glyphicon-user"></i> {$Think.session.username} <i class="caret"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <!--<li>
                                <a href="#" tabindex="-1"><i class="glyphicon glyphicon-cog"></i>设置</a>
                            </li>-->
                            <!--<li class="divider"></li>-->
                            <empty name="Think.session.username">
                                <li><a href="{:U('Xssxyby/Login/checkLogin')}"><i class="glyphicon glyphicon-ok-sign"></i>登录</a></li>
                                <else />
                                <li>
                                    <a href="{:U('Xssxyby/Login/logout')}" tabindex="-1"><i class="glyphicon glyphicon-off"></i>	退出</a>
                                </li>
                            </empty>
                        </ul>
                    </li>
                </ul>
            </ul>


    </div>
</nav>