<extend name="Index:base" />

<block name="title"><title>{$title}</title></block>
<block name="jumbotron">
    <div class="container-fluid text-center">
        <h2>日本最大ビジネスソフト専門店</h2>
        <p class="lead"> 連絡先：jpsoft777@163.com</p>
    </div>
</block>
<!--parent is a container class-->
<block name="content">
    <div id="content">
        <!--<ul class="media-list">
            <volist name="newest" id="it">
                <li class="media">
                    <a class="pull-left" href="#">
                        &lt;!&ndash;<img class="media-object" src="__PUBLIC__/{$it.icon}" alt="{$it.name}">&ndash;&gt;
                        <img class="thumbnail" src="__PUBLIC__/{$it.icon}" alt="{$it.name}">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">{$it.name}</h4>
                        <P>{$it.lang}</P>
                        <P>{$it.env}</P>
                        <P>{$it.info}</P>
                    </div>
                </li>
            </volist>
        </ul>-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>商品情報</h3>
                <!--分类-->
                <volist name="topics" id="it">
                    <a href="{:U('Home/Soft/listByTopic','topic='.$it[id])}" class="btn btn-link">{$it.name}</a>
                </volist>

                <a href="{:U('Home/Soft/Index')}" class="pull-right">{:L('more')}</a>

            </div>
            <div class="panel-body">
                <div class="row">

                    <volist name="softs" id="it">
                        <div class="col-md-3 col-lg-3">
                            <div class="thumbnail">
                                <a href="{:U('Home/Soft/index','id='.$it['id'])}"><img src="__PUBLIC__/{$it.icon}" alt="{$it.name}" ></a>
                                <div class="caption">
                                    <h3>ソフトウェアの名称:{$it.name}</h3>
                                    <p>{:L('soft_env')}:{$it.env}</p>
                                    <p>{:L('soft_lang')}:{$it.lang}</p>
                                    <p>{:L('soft_price')}:{$it.price}</p>
                                    <p>类别：{$it.tname}</p>
                                    <p><a href="{:U('Home/Soft/index','id='.$it['id'])}" class="btn btn-primary" role="button">{:L('look')}</a></p>
                                </div>
                            </div>
                        </div>
                    </volist>

                </div>
                <div class="row">
                    <div class="nav navbar-right">{$page}</div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">{:L('tips')}</div>
            <div class="panel-body">
                <p>{$tip['content']}</p>
            </div>
        </div>

    </div>
</block>

