<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <!--<div class="collapse navbar-collapse">-->
        <ul class="nav navbar-nav col-lg-9">
            <li ><a href="{:U('Home/Index/index')}">トップ</a></li>
            <li ><a href="{:U('Home/Soft/index')}">すべての商品</a></li>
            <li class="col-lg-3 clearfix">
                <div class="navbar-form">
                    <form id="search" action="{:U('Home/Soft/search')}" method="post">
                        <div class="input-group">
                            <input name="name" class="form-control" type="text" placeholder="商品検索">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" onclick="document.getElementById('search').submit();">Go!</button>
                                </span>
                        </div>
                    </form>
                </div>
            </li>
        </ul>
        <!--</div>&lt;!&ndash; /.navbar-collapse &ndash;&gt;-->
    </div>
</div>